@font-face {
    font-family: "Rodin Pro";
    src: url(fonts/poppins.otf);
}


body {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    background-size:100vw 100vh;
}
h1 {
    text-align: center;
}

p, h1, h2 {
    font-family:"Rodin Pro";
    font-weight: 700;
    color: white;
}

.container {
    padding: 30px 40px;
    border-radius: 20px;
    background:rgba(47, 47, 47, 0.588);
    box-shadow:0 10px 50px rgba(0, 0, 0, 0.625);
    align-items: center;
    border: 1px solid rgba(78, 77, 77, 0.366);
    backdrop-filter: blur(5px);
}

#feeltext {
    font-size:25px;
}

body.rainy {
    background-image: url("backgrounds/rainy.webp");
}

body.cloudy {
    background-image: url("backgrounds/cloudy.webp");
}

body.sunny {
    background-image: url("backgrounds/sunny.webp");
}

@keyframes sunny{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.icon{
    animation: none;
}

.icon.sunny{
    animation: sunny 60s linear infinite;
}


.block {
    gap: x;
    display:flex;
    color: aquamarine;
    text-align: center;
    font-size: 36px;
    justify-content: center;
    transition: all 0.2s;
}

.block:hover{
    transform: scale(110%);
}
